# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Loading csv file exported from WeatherPy to new DataFrame:
path = "../output_data/city_weather.csv"

# Reading in the csv file and creating the new dataframe:
new_df = pd.read_csv(path)

new_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cape Town,-33.9258,18.4232,70.12,85,52,1.01,ZA,1643757152
1,Guéret,46.1667,1.8667,41.63,99,100,5.66,FR,1643757156
2,Rikitea,-23.1203,-134.9692,78.44,69,87,5.66,PF,1643756999
3,Conceição do Araguaia,-8.2578,-49.2647,75.18,92,77,3.20,BR,1643757161
4,Bluff,-46.6000,168.3333,77.81,63,97,12.95,NZ,1643756991
...,...,...,...,...,...,...,...,...,...
565,Cuiluan,47.7200,128.6480,0.03,93,99,4.63,CN,1643758810
566,El Dorado,38.7666,-120.5177,56.43,18,0,4.00,US,1643758813
567,Bavleny,56.4000,39.5600,18.50,94,100,10.45,RU,1643758816
568,Vuktyl,63.8567,57.3094,14.38,94,99,6.64,RU,1643758819
569,Flin Flon,54.7682,-101.8650,-11.36,58,40,5.75,CA,1643758554

In [3]:
# Remove data with missing values
clean_df = new_df.dropna()
clean_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cape Town,-33.9258,18.4232,70.12,85,52,1.01,ZA,1643757152
1,Guéret,46.1667,1.8667,41.63,99,100,5.66,FR,1643757156
2,Rikitea,-23.1203,-134.9692,78.44,69,87,5.66,PF,1643756999
3,Conceição do Araguaia,-8.2578,-49.2647,75.18,92,77,3.20,BR,1643757161
4,Bluff,-46.6000,168.3333,77.81,63,97,12.95,NZ,1643756991
...,...,...,...,...,...,...,...,...,...
565,Cuiluan,47.7200,128.6480,0.03,93,99,4.63,CN,1643758810
566,El Dorado,38.7666,-120.5177,56.43,18,0,4.00,US,1643758813
567,Bavleny,56.4000,39.5600,18.50,94,100,10.45,RU,1643758816
568,Vuktyl,63.8567,57.3094,14.38,94,99,6.64,RU,1643758819
569,Flin Flon,54.7682,-101.8650,-11.36,58,40,5.75,CA,1643758554

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
 # Store latitude and longitude in locations
locations = clean_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = clean_df["Humidity"].astype(float)

In [6]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#Filter the data to narrow down the cities and drop any null values
filtered_df = clean_df.loc[(clean_df["Max Temp"]>=60) & (clean_df["Max Temp"]<=80) & 
                           (clean_df["Wind Speed"]<=10) & (clean_df["Cloudiness"]==0)].dropna()
filtered_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
62,Le Marin,14.4721,-60.8697,77.72,78,0,5.75,MQ,1643757332
80,Chui,-33.6971,-53.4616,64.33,67,0,7.56,UY,1643757384
93,Avera,33.1940,-82.5271,60.31,63,0,7.16,US,1643757421
132,Mar del Plata,-38.0023,-57.5575,75.22,71,0,4.00,AR,1643757424
143,Bara,10.3744,10.7288,63.66,22,0,8.34,NG,1643757567
181,Cabo San Lucas,22.8909,-109.9124,76.51,51,0,4.00,MX,1643757633
354,Port Elizabeth,-33.9180,25.5701,76.10,83,0,3.44,ZA,1643758189
369,Artesia,33.8658,-118.0831,67.87,62,0,5.01,US,1643758235
407,Half Moon Bay,37.4636,-122.4286,63.01,34,0,3.00,US,1643758346
462,Pacific Grove,36.6177,-121.9166,62.58,38,0,3.00,US,1643758426
486,Copiapó,-27.3667,-70.3333,69.49,56,0,5.53,CL,1643758328
492,Ojinaga,29.5667,-104.4167,70.75,23,0,0.00,MX,1643758596
528,Abu Dhabi,24.4667,54.3667,68.97,84,0,1.01,AE,1643758701

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame
hotel_df = filtered_df
hotel_df['Hotel Name'] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
62,Le Marin,14.4721,-60.8697,77.72,78,0,5.75,MQ,1643757332,
80,Chui,-33.6971,-53.4616,64.33,67,0,7.56,UY,1643757384,
93,Avera,33.1940,-82.5271,60.31,63,0,7.16,US,1643757421,
132,Mar del Plata,-38.0023,-57.5575,75.22,71,0,4.00,AR,1643757424,
143,Bara,10.3744,10.7288,63.66,22,0,8.34,NG,1643757567,

In [20]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "No Hotel Found"
        
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
62,Le Marin,14.4721,-60.8697,77.72,78,0,5.75,MQ,1643757332,Hôtel Cap Macabou
80,Chui,-33.6971,-53.4616,64.33,67,0,7.56,UY,1643757384,Turis Firper Hotel
93,Avera,33.1940,-82.5271,60.31,63,0,7.16,US,1643757421,No Hotel Found
132,Mar del Plata,-38.0023,-57.5575,75.22,71,0,4.00,AR,1643757424,Sheraton Mar del Plata Hotel
143,Bara,10.3744,10.7288,63.66,22,0,8.34,NG,1643757567,No Hotel Found
181,Cabo San Lucas,22.8909,-109.9124,76.51,51,0,4.00,MX,1643757633,Grand Solmar Land's End Resort & Spa
354,Port Elizabeth,-33.9180,25.5701,76.10,83,0,3.44,ZA,1643758189,The Grand Hotel
369,Artesia,33.8658,-118.0831,67.87,62,0,5.01,US,1643758235,DoubleTree by Hilton Hotel Los Angeles - Norwalk
407,Half Moon Bay,37.4636,-122.4286,63.01,34,0,3.00,US,1643758346,Oceano Hotel & Spa Half Moon Bay Harbor
462,Pacific Grove,36.6177,-121.9166,62.58,38,0,3.00,US,1643758426,Rodeway Inn Near Downtown Monterey
486,Copiapó,-27.3667,-70.3333,69.49,56,0,5.53,CL,1643758328,ibis Copiapo
492,Ojinaga,29.5667,-104.4167,70.75,23,0,0.00,MX,1643758596,Waru Hotel
528,Abu Dhabi,24.4667,54.3667,68.97,84,0,1.01,AE,1643758701,Four Seasons Hotel

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)



# Display figure
fig

Figure(layout=FigureLayout(height='420px'))